.title {
  display: inline-flex;
  align-items: center;
  width: 100%;
  color: #3f51b5;
  .spinner {
    margin-left: 2rem;
  }
  .info {
    margin-left: auto;
  }
}
.sd-form,
.credential_area {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  align-items: center;
}
.sub_title,
.credential_area {
  grid-column: ~'1 / 3';
}
.sub_title {
  margin: 0 0 1rem 0;
  .auth-button {
    font-size: 10px;
    min-width: 50px;
    height: 25px;
    line-height: initial;
    margin-left: 1rem;
  }
}

.button-row {
  grid-column: ~'1 / 3';
  display: inline-flex;
  > button {
    margin-right: 1rem;
  }
}
.active_link_conatiner {
  word-break: break-all;
  overflow: auto;
  font-size: 13px;
  margin-top: 1rem;
  .success_message {
    text-align: center;
    color: #4caf50;
  }
}

.password_default {
  position: absolute;
  right: 0;
  font-size: 11px;
  bottom: 0px;
}
