<div class="app-container">
  <div class="title">
    <h2>SD Account Creator</h2>
  </div>
  <ng-form class="sd-form" #sdCreationForm="ngForm">
    <h5 class="sub_title">Environment info</h5>
    <mat-form-field>
      <mat-label>Select Environment</mat-label>
      <mat-select
        name="environmentDropdown"
        placeholder="Please select"
        [(ngModel)]="vm.EnvironmentId"
        (ngModelChange)="onSelectEnvironment()"
        required
      >
        <mat-option value="{{ evn.Id }}" *ngFor="let evn of environments" disabled="{{ !evn.IsEnable }}"> {{ evn.Name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox *ngIf="vm.EnvironmentId" name="useCustomAgent" [(ngModel)]="vm.isUseCustomAgent" (change)="onToggleCustomAgent()">
      Use custom agent account
    </mat-checkbox>
    <h5 class="sub_title" *ngIf="vm.isUseCustomAgent">
      Your agent
      <button class="auth-button" mat-flat-button color="accent" [disabled]="!vm.CustomAgent.Username || !vm.CustomAgent.Password" (click)="onClickAuthorizeCustomAgent()">
        Authorize
      </button>
    </h5>
    <mat-form-field *ngIf="vm.isUseCustomAgent">
      <input
        type="text"
        name="agentId"
        matInput
        placeholder="Email or User Id"
        [(ngModel)]="vm.CustomAgent.Username"
        #agentId="ngModel"
        required
      />
    </mat-form-field>
    <mat-form-field *ngIf="vm.isUseCustomAgent">
      <input
        type="password"
        name="agentPassword"
        matInput
        placeholder="Password"
        [(ngModel)]="vm.CustomAgent.Password"
        #agentPassword="ngModel"
        required
      />
    </mat-form-field>

    <h5 class="sub_title" *ngIf="!vm.isUseCustomAgent && vm.SelectedEnvironment && vm.SelectedEnvironment.Institution.length > 0">
      Default agent
    </h5>
    <mat-form-field *ngIf="!vm.isUseCustomAgent && vm.SelectedEnvironment && vm.SelectedEnvironment.Institution.length > 0">
      <mat-label>Select Institution</mat-label>
      <mat-select
        name="institutionDropdown"
        placeholder="Please select"
        [(ngModel)]="vm.InstitutionId"
        (ngModelChange)="onSelectInstitution()"
        required
      >
        <mat-option value="{{ i.Id }}" *ngFor="let i of vm.SelectedEnvironment.Institution">{{ i.Name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!vm.isUseCustomAgent && vm.SelectedInstitution && vm.SelectedInstitution.Branches.length > 0">
      <mat-label>Select Branch</mat-label>
      <mat-select name="branchDropdown" placeholder="Please select" [(ngModel)]="vm.BranchId" (ngModelChange)="onSelectBranch()" required>
        <mat-option value="{{ br.Id }}" *ngFor="let br of vm.SelectedInstitution.Branches">{{ br.BranchName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <h5 class="sub_title" *ngIf="personasList && personasList.length > 0">Account info</h5>
    <mat-form-field *ngIf="personasList && personasList.length > 0">
      <mat-label>Select Persona</mat-label>
      <mat-select name="personasDropdown" placeholder="Please select" [(ngModel)]="client.PersonaId" required>
        <mat-option value="{{ persona.Id }}" *ngFor="let persona of personasList">{{ persona.PersonaName }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="personasList && personasList.length > 0">
      <input type="text" name="firstName" matInput placeholder="First Name" [(ngModel)]="client.FirstName" #firstName="ngModel" required />
    </mat-form-field>
    <mat-form-field *ngIf="personasList && personasList.length > 0">
      <input type="text" name="lastName" matInput placeholder="Last Name" [(ngModel)]="client.LastName" #lastName="ngModel" required />
    </mat-form-field>

    <h5 class="sub_title" *ngIf="personasList && personasList.length > 0">Credential info</h5>
    <div class="credential_area">
      <mat-form-field *ngIf="personasList && personasList.length > 0">
        <input type="email" name="email" matInput placeholder="Email" [(ngModel)]="client.Email" #email="ngModel" required email="true" />
      </mat-form-field>
      <mat-form-field *ngIf="personasList && personasList.length > 0">
        <input type="text" name="username" matInput placeholder="User Name" [(ngModel)]="client.UserName" #username="ngModel" required />
      </mat-form-field>
      <mat-form-field *ngIf="personasList && personasList.length > 0">
        <button mat-button (click)="onClickUseDefaultPassword()" class="password_default">Use Default</button>
        <input type="password" name="password" matInput placeholder="Password" [(ngModel)]="client.Password" #username="ngModel" required />
      </mat-form-field>
    </div>
    <div class="button-row" *ngIf="personasList && personasList.length > 0">
      <button
        mat-raised-button
        color="primary"
        [disabled]="sdCreationForm.invalid || loading || client.IsSuccess"
        (click)="onClickCreate()"
      >
        Create
      </button>
      <button mat-stroked-button color="primary" (click)="onClickReset(sdCreationForm)">Reset</button>
    </div>
  </ng-form>
  <mat-card *ngIf="client.IsSuccess" class="active_link_conatiner">
    <h3 class="success_message">Congratulations! Your account has been created.</h3>
  </mat-card>
</div>
