<div class="home-main-container">
  <mat-grid-list cols="2" rowHeight="120px" class="tool-card-container" gutterSize="10px">
    <mat-grid-tile>
      <mat-card class="tool-card" routerLink="/sd-user">
        SD User
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="tool-card" >
        New stuff is coming soon..
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="app-grid"></div>
</div>
