.home-main-container {
  .tool-card-container {
    .tool-card {
      height: calc(75px);
      width: calc((100% - 35px) * 1);
      display: grid;
      outline: none;
      cursor: pointer;
    }
  }
}
