@import '../base.color.less';
.app-main-container {
  height: 100%;
  padding: 0 0.5rem;
  .top-bar {
    color: @main_text_color;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 0.5rem;
    .user-control {
      margin-left: auto;
      .login-button {
        margin-left: 0.5rem;
      }
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 0.2rem;
  font-size: 11px;
  text-align: center;
  color: @info_text_color;
}
