<block-ui>
  <div class="app-main-container">
    <div class="top-bar" *ngIf="isLoggedIn">
      <button mat-stroked-button color="primary" routerLink="/">
        <mat-icon aria-hidden="false" aria-label="go to home">home</mat-icon>
      </button>
      <div class="user-control">
        <span>Hi {{currentUser.DisplayName}}</span>
        <button mat-stroked-button color="primary" (click)="onLogOutClick()" class="login-button">
          <mat-icon aria-hidden="false" aria-label="logout">power_settings_new</mat-icon>
        </button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    All rights reserved © 2019 by BetterTradeOff
  </footer>
</block-ui>
