<div class="login-container">
  <div>
    <mat-card class="login-card">
      <span class="title">
        Internal Tool
      </span>
      <img class="logo" src="./assets/bto-tool-logo.png" />
    </mat-card>
    <div class="button-row">
      <button mat-fab color="primary" (click)="onLoginClick()" matTooltip="Sign In">
        <mat-icon aria-hidden="false">
          arrow_forward
        </mat-icon>
      </button>
    </div>
  </div>
</div>
