@import '../../../base.color.less';
.login-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: grid;
  .login-card {
    margin-top: 10vh;
    min-width: 300px;
    text-align: center;
    display: grid;
    justify-content: center;
    color: @main_text_color;
    font-size: 14px;
    .logo {
      width: 160px;
    }
    .tiger-logo {
      width: 25px;
      margin: auto;
      opacity: 0.5;
    }
  }
  .button-row {
    margin-top: 2rem;
    text-align: center;
  }
}
