/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
  height: 100%;
  background-color: #f4f7fa;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  /* Block UI Wrapper (Backdrop) */
  div.block-ui-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* Spinner */
  div.block-ui-wrapper .loader {
    //border-color: #fff; /* Circle color */
    border-left-color: #3f51b5; /* Spinning section in circle color */
  }
}
